In [2]:
import pandas as pd
import seaborn as sns

In [3]:
karthi=pd.read_excel('C:/Users/SRIDHAR/Documents//startup.xlsx')
karthi

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70             NaN        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5         NaN        99814.71        362861.36         NaN  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88             NaN        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15        NaN       122616.84        261776.23         NaN  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79              NaN     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23        NaN       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07         NaN  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30        NaN       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92              NaN    New York   97483.56
32   63408.86       129219.61         46085.25         NaN   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42         NaN   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51             NaN              NaN  California   81005.76
40   28754.33             NaN              NaN  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17         NaN   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
46    1315.46       115816.21        297114.46     Florida   49490.75
47       0.00             NaN              NaN  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41
49       0.00       116983.80         45173.06  California   14681.40

In [4]:
karthi.isnull().sum()

R&D Spend          4
Administration     5
Marketing Spend    5
State              6
Profit             0
dtype: int64

In [5]:
karthi.style.highlight_null()

In [6]:
karthi.style.highlight_null(null_color='yellow')

In [7]:
from sklearn.preprocessing import LabelEncoder
n=LabelEncoder()
karthi.iloc[:,3]=n.fit_transform(karthi.iloc[:,3])

In [8]:
print(karthi)

    R&D Spend  Administration  Marketing Spend  State     Profit
0   165349.20       136897.80        471784.10      2  192261.83
1   162597.70             NaN        443898.53      0  191792.06
2   153441.51       101145.55        407934.54      1  191050.39
3   144372.41       118671.85        383199.62      2  182901.99
4   142107.34        91391.77        366168.42      1  166187.94
5         NaN        99814.71        362861.36      3  156991.12
6   134615.46       147198.87        127716.82      0  156122.51
7   130298.13       145530.06        323876.68      1  155752.60
8   120542.52       148718.95        311613.29      2  152211.77
9   123334.88             NaN        304981.62      0  149759.96
10  101913.08       110594.11        229160.95      1  146121.95
11  100671.96        91790.61        249744.55      0  144259.40
12   93863.75       127320.38        249839.44      1  141585.52
13   91992.39       135495.07        252664.93      0  134307.35
14  119943.24       156547.42        256512.92      1  132602.65
15        NaN       122616.84        261776.23      3  129917.04
16   78013.11       121597.55        264346.06      0  126992.93
17   94657.16       145077.58        282574.31      2  125370.37
18   91749.16       114175.79              NaN      1  124266.90
19   86419.70       153514.11             0.00      2  122776.86
20   76253.86       113867.30        298664.47      0  118474.03
21   78389.47       153773.43        299737.29      2  111313.02
22   73994.56       122782.75        303319.26      1  110352.25
23        NaN       105751.03        304768.73      1  108733.99
24   77044.01        99281.34        140574.81      2  108552.04
25   64664.71       139553.16        137962.62      0  107404.34
26   75328.87       144135.98        134050.07      3  105733.54
27   72107.60       127864.55        353183.81      2  105008.31
28   66051.52       182645.56        118148.20      1  103282.38
29   65605.48       153032.06        107138.38      2  101004.64
30        NaN       115641.28         91131.24      1   99937.59
31   61136.38       152701.92              NaN      2   97483.56
32   63408.86       129219.61         46085.25      3   97427.84
33   55493.95       103057.49        214634.81      1   96778.92
34   46426.07       157693.92        210797.67      0   96712.80
35   46014.02        85047.44        205517.64      2   96479.51
36   28663.76       127056.21        201126.82      1   90708.19
37   44069.95        51283.14        197029.42      3   89949.14
38   20229.59        65947.93        185265.10      2   81229.06
39   38558.51             NaN              NaN      0   81005.76
40   28754.33             NaN              NaN      0   78239.91
41   27892.92        84710.77        164470.71      1   77798.83
42   23640.93        96189.63        148001.11      0   71498.49
43   15505.73       127382.30         35534.17      3   69758.98
44   22177.74       154806.14         28334.72      0   65200.33
45    1000.23       124153.04          1903.93      2   64926.08
46    1315.46       115816.21        297114.46      1   49490.75
47       0.00             NaN              NaN      0   42559.73
48     542.05        51743.15             0.00      2   35673.41
49       0.00       116983.80         45173.06      0   14681.40

In [9]:
from sklearn.impute import KNNImputer
a=KNNImputer()
hy=a.fit_transform(karthi)

In [10]:
print(hy)

[[1.65349200e+05 1.36897800e+05 4.71784100e+05 2.00000000e+00
  1.92261830e+05]
 [1.62597700e+05 1.09584336e+05 4.43898530e+05 0.00000000e+00
  1.91792060e+05]
 [1.53441510e+05 1.01145550e+05 4.07934540e+05 1.00000000e+00
  1.91050390e+05]
 [1.44372410e+05 1.18671850e+05 3.83199620e+05 2.00000000e+00
  1.82901990e+05]
 [1.42107340e+05 9.13917700e+04 3.66168420e+05 1.00000000e+00
  1.66187940e+05]
 [1.20755604e+05 9.98147100e+04 3.62861360e+05 3.00000000e+00
  1.56991120e+05]
 [1.34615460e+05 1.47198870e+05 1.27716820e+05 0.00000000e+00
  1.56122510e+05]
 [1.30298130e+05 1.45530060e+05 3.23876680e+05 1.00000000e+00
  1.55752600e+05]
 [1.20542520e+05 1.48718950e+05 3.11613290e+05 2.00000000e+00
  1.52211770e+05]
 [1.23334880e+05 1.31850682e+05 3.04981620e+05 0.00000000e+00
  1.49759960e+05]
 [1.01913080e+05 1.10594110e+05 2.29160950e+05 1.00000000e+00
  1.46121950e+05]
 [1.00671960e+05 9.17906100e+04 2.49744550e+05 0.00000000e+00
  1.44259400e+05]
 [9.38637500e+04 1.27320380e+05 2.49839440e+05 1.00000000e+00
  1.41585520e+05]
 [9.19923900e+04 1.35495070e+05 2.52664930e+05 0.00000000e+00
  1.34307350e+05]
 [1.19943240e+05 1.56547420e+05 2.56512920e+05 1.00000000e+00
  1.32602650e+05]
 [9.00551140e+04 1.22616840e+05 2.61776230e+05 3.00000000e+00
  1.29917040e+05]
 [7.80131100e+04 1.21597550e+05 2.64346060e+05 0.00000000e+00
  1.26992930e+05]
 [9.46571600e+04 1.45077580e+05 2.82574310e+05 2.00000000e+00
  1.25370370e+05]
 [9.17491600e+04 1.14175790e+05 2.75878986e+05 1.00000000e+00
  1.24266900e+05]
 [8.64197000e+04 1.53514110e+05 0.00000000e+00 2.00000000e+00
  1.22776860e+05]
 [7.62538600e+04 1.13867300e+05 2.98664470e+05 0.00000000e+00
  1.18474030e+05]
 [7.83894700e+04 1.53773430e+05 2.99737290e+05 2.00000000e+00
  1.11313020e+05]
 [7.39945600e+04 1.22782750e+05 3.03319260e+05 1.00000000e+00
  1.10352250e+05]
 [6.18620840e+04 1.05751030e+05 3.04768730e+05 1.00000000e+00
  1.08733990e+05]
 [7.70440100e+04 9.92813400e+04 1.40574810e+05 2.00000000e+00
  1.08552040e+05]
 [6.46647100e+04 1.39553160e+05 1.37962620e+05 0.00000000e+00
  1.07404340e+05]
 [7.53288700e+04 1.44135980e+05 1.34050070e+05 3.00000000e+00
  1.05733540e+05]
 [7.21076000e+04 1.27864550e+05 3.53183810e+05 2.00000000e+00
  1.05008310e+05]
 [6.60515200e+04 1.82645560e+05 1.18148200e+05 1.00000000e+00
  1.03282380e+05]
 [6.56054800e+04 1.53032060e+05 1.07138380e+05 2.00000000e+00
  1.01004640e+05]
 [5.71607720e+04 1.15641280e+05 9.11312400e+04 1.00000000e+00
  9.99375900e+04]
 [6.11363800e+04 1.52701920e+05 1.77937206e+05 2.00000000e+00
  9.74835600e+04]
 [6.34088600e+04 1.29219610e+05 4.60852500e+04 3.00000000e+00
  9.74278400e+04]
 [5.54939500e+04 1.03057490e+05 2.14634810e+05 1.00000000e+00
  9.67789200e+04]
 [4.64260700e+04 1.57693920e+05 2.10797670e+05 0.00000000e+00
  9.67128000e+04]
 [4.60140200e+04 8.50474400e+04 2.05517640e+05 2.00000000e+00
  9.64795100e+04]
 [2.86637600e+04 1.27056210e+05 2.01126820e+05 1.00000000e+00
  9.07081900e+04]
 [4.40699500e+04 5.12831400e+04 1.97029420e+05 3.00000000e+00
  8.99491400e+04]
 [2.02295900e+04 6.59479300e+04 1.85265100e+05 2.00000000e+00
  8.12290600e+04]
 [3.85585100e+04 1.01158296e+05 1.95788452e+05 0.00000000e+00
  8.10057600e+04]
 [2.87543300e+04 1.05742136e+05 1.45439692e+05 0.00000000e+00
  7.82399100e+04]
 [2.78929200e+04 8.47107700e+04 1.64470710e+05 1.00000000e+00
  7.77988300e+04]
 [2.36409300e+04 9.61896300e+04 1.48001110e+05 0.00000000e+00
  7.14984900e+04]
 [1.55057300e+04 1.27382300e+05 3.55341700e+04 3.00000000e+00
  6.97589800e+04]
 [2.21777400e+04 1.54806140e+05 2.83347200e+04 0.00000000e+00
  6.52003300e+04]
 [1.00023000e+03 1.24153040e+05 1.90393000e+03 2.00000000e+00
  6.49260800e+04]
 [1.31546000e+03 1.15816210e+05 2.97114460e+05 1.00000000e+00
  4.94907500e+04]
 [0.00000000e+00 1.07215700e+05 7.59451240e+04 0.00000000e+00
  4.25597300e+04]
 [5.42050000e+02 5.17431500e+04 0.00000000e+00 2.00000000e+00
  3.56734100e+04]
 [0.00000000e+00 1.16983800e+05 4.51730600e+04 0.00000000e+00
  1.46814000e+04]]

In [11]:
len(hy)

50

In [12]:
len(karthi)

50

In [13]:
tr=pd.DataFrame(hy)

In [14]:
tr

             0           1           2    3          4
0   165349.200  136897.800  471784.100  2.0  192261.83
1   162597.700  109584.336  443898.530  0.0  191792.06
2   153441.510  101145.550  407934.540  1.0  191050.39
3   144372.410  118671.850  383199.620  2.0  182901.99
4   142107.340   91391.770  366168.420  1.0  166187.94
5   120755.604   99814.710  362861.360  3.0  156991.12
6   134615.460  147198.870  127716.820  0.0  156122.51
7   130298.130  145530.060  323876.680  1.0  155752.60
8   120542.520  148718.950  311613.290  2.0  152211.77
9   123334.880  131850.682  304981.620  0.0  149759.96
10  101913.080  110594.110  229160.950  1.0  146121.95
11  100671.960   91790.610  249744.550  0.0  144259.40
12   93863.750  127320.380  249839.440  1.0  141585.52
13   91992.390  135495.070  252664.930  0.0  134307.35
14  119943.240  156547.420  256512.920  1.0  132602.65
15   90055.114  122616.840  261776.230  3.0  129917.04
16   78013.110  121597.550  264346.060  0.0  126992.93
17   94657.160  145077.580  282574.310  2.0  125370.37
18   91749.160  114175.790  275878.986  1.0  124266.90
19   86419.700  153514.110       0.000  2.0  122776.86
20   76253.860  113867.300  298664.470  0.0  118474.03
21   78389.470  153773.430  299737.290  2.0  111313.02
22   73994.560  122782.750  303319.260  1.0  110352.25
23   61862.084  105751.030  304768.730  1.0  108733.99
24   77044.010   99281.340  140574.810  2.0  108552.04
25   64664.710  139553.160  137962.620  0.0  107404.34
26   75328.870  144135.980  134050.070  3.0  105733.54
27   72107.600  127864.550  353183.810  2.0  105008.31
28   66051.520  182645.560  118148.200  1.0  103282.38
29   65605.480  153032.060  107138.380  2.0  101004.64
30   57160.772  115641.280   91131.240  1.0   99937.59
31   61136.380  152701.920  177937.206  2.0   97483.56
32   63408.860  129219.610   46085.250  3.0   97427.84
33   55493.950  103057.490  214634.810  1.0   96778.92
34   46426.070  157693.920  210797.670  0.0   96712.80
35   46014.020   85047.440  205517.640  2.0   96479.51
36   28663.760  127056.210  201126.820  1.0   90708.19
37   44069.950   51283.140  197029.420  3.0   89949.14
38   20229.590   65947.930  185265.100  2.0   81229.06
39   38558.510  101158.296  195788.452  0.0   81005.76
40   28754.330  105742.136  145439.692  0.0   78239.91
41   27892.920   84710.770  164470.710  1.0   77798.83
42   23640.930   96189.630  148001.110  0.0   71498.49
43   15505.730  127382.300   35534.170  3.0   69758.98
44   22177.740  154806.140   28334.720  0.0   65200.33
45    1000.230  124153.040    1903.930  2.0   64926.08
46    1315.460  115816.210  297114.460  1.0   49490.75
47       0.000  107215.700   75945.124  0.0   42559.73
48     542.050   51743.150       0.000  2.0   35673.41
49       0.000  116983.800   45173.060  0.0   14681.40

In [15]:
x=tr.iloc[:,0:4].values
x

array([[1.65349200e+05, 1.36897800e+05, 4.71784100e+05, 2.00000000e+00],
       [1.62597700e+05, 1.09584336e+05, 4.43898530e+05, 0.00000000e+00],
       [1.53441510e+05, 1.01145550e+05, 4.07934540e+05, 1.00000000e+00],
       [1.44372410e+05, 1.18671850e+05, 3.83199620e+05, 2.00000000e+00],
       [1.42107340e+05, 9.13917700e+04, 3.66168420e+05, 1.00000000e+00],
       [1.20755604e+05, 9.98147100e+04, 3.62861360e+05, 3.00000000e+00],
       [1.34615460e+05, 1.47198870e+05, 1.27716820e+05, 0.00000000e+00],
       [1.30298130e+05, 1.45530060e+05, 3.23876680e+05, 1.00000000e+00],
       [1.20542520e+05, 1.48718950e+05, 3.11613290e+05, 2.00000000e+00],
       [1.23334880e+05, 1.31850682e+05, 3.04981620e+05, 0.00000000e+00],
       [1.01913080e+05, 1.10594110e+05, 2.29160950e+05, 1.00000000e+00],
       [1.00671960e+05, 9.17906100e+04, 2.49744550e+05, 0.00000000e+00],
       [9.38637500e+04, 1.27320380e+05, 2.49839440e+05, 1.00000000e+00],
       [9.19923900e+04, 1.35495070e+05, 2.52664930e+05, 0.00000000e+00],
       [1.19943240e+05, 1.56547420e+05, 2.56512920e+05, 1.00000000e+00],
       [9.00551140e+04, 1.22616840e+05, 2.61776230e+05, 3.00000000e+00],
       [7.80131100e+04, 1.21597550e+05, 2.64346060e+05, 0.00000000e+00],
       [9.46571600e+04, 1.45077580e+05, 2.82574310e+05, 2.00000000e+00],
       [9.17491600e+04, 1.14175790e+05, 2.75878986e+05, 1.00000000e+00],
       [8.64197000e+04, 1.53514110e+05, 0.00000000e+00, 2.00000000e+00],
       [7.62538600e+04, 1.13867300e+05, 2.98664470e+05, 0.00000000e+00],
       [7.83894700e+04, 1.53773430e+05, 2.99737290e+05, 2.00000000e+00],
       [7.39945600e+04, 1.22782750e+05, 3.03319260e+05, 1.00000000e+00],
       [6.18620840e+04, 1.05751030e+05, 3.04768730e+05, 1.00000000e+00],
       [7.70440100e+04, 9.92813400e+04, 1.40574810e+05, 2.00000000e+00],
       [6.46647100e+04, 1.39553160e+05, 1.37962620e+05, 0.00000000e+00],
       [7.53288700e+04, 1.44135980e+05, 1.34050070e+05, 3.00000000e+00],
       [7.21076000e+04, 1.27864550e+05, 3.53183810e+05, 2.00000000e+00],
       [6.60515200e+04, 1.82645560e+05, 1.18148200e+05, 1.00000000e+00],
       [6.56054800e+04, 1.53032060e+05, 1.07138380e+05, 2.00000000e+00],
       [5.71607720e+04, 1.15641280e+05, 9.11312400e+04, 1.00000000e+00],
       [6.11363800e+04, 1.52701920e+05, 1.77937206e+05, 2.00000000e+00],
       [6.34088600e+04, 1.29219610e+05, 4.60852500e+04, 3.00000000e+00],
       [5.54939500e+04, 1.03057490e+05, 2.14634810e+05, 1.00000000e+00],
       [4.64260700e+04, 1.57693920e+05, 2.10797670e+05, 0.00000000e+00],
       [4.60140200e+04, 8.50474400e+04, 2.05517640e+05, 2.00000000e+00],
       [2.86637600e+04, 1.27056210e+05, 2.01126820e+05, 1.00000000e+00],
       [4.40699500e+04, 5.12831400e+04, 1.97029420e+05, 3.00000000e+00],
       [2.02295900e+04, 6.59479300e+04, 1.85265100e+05, 2.00000000e+00],
       [3.85585100e+04, 1.01158296e+05, 1.95788452e+05, 0.00000000e+00],
       [2.87543300e+04, 1.05742136e+05, 1.45439692e+05, 0.00000000e+00],
       [2.78929200e+04, 8.47107700e+04, 1.64470710e+05, 1.00000000e+00],
       [2.36409300e+04, 9.61896300e+04, 1.48001110e+05, 0.00000000e+00],
       [1.55057300e+04, 1.27382300e+05, 3.55341700e+04, 3.00000000e+00],
       [2.21777400e+04, 1.54806140e+05, 2.83347200e+04, 0.00000000e+00],
       [1.00023000e+03, 1.24153040e+05, 1.90393000e+03, 2.00000000e+00],
       [1.31546000e+03, 1.15816210e+05, 2.97114460e+05, 1.00000000e+00],
       [0.00000000e+00, 1.07215700e+05, 7.59451240e+04, 0.00000000e+00],
       [5.42050000e+02, 5.17431500e+04, 0.00000000e+00, 2.00000000e+00],
       [0.00000000e+00, 1.16983800e+05, 4.51730600e+04, 0.00000000e+00]])

In [16]:
y=tr.iloc[:,-1].values
y

array([192261.83, 191792.06, 191050.39, 182901.99, 166187.94, 156991.12,
       156122.51, 155752.6 , 152211.77, 149759.96, 146121.95, 144259.4 ,
       141585.52, 134307.35, 132602.65, 129917.04, 126992.93, 125370.37,
       124266.9 , 122776.86, 118474.03, 111313.02, 110352.25, 108733.99,
       108552.04, 107404.34, 105733.54, 105008.31, 103282.38, 101004.64,
        99937.59,  97483.56,  97427.84,  96778.92,  96712.8 ,  96479.51,
        90708.19,  89949.14,  81229.06,  81005.76,  78239.91,  77798.83,
        71498.49,  69758.98,  65200.33,  64926.08,  49490.75,  42559.73,
        35673.41,  14681.4 ])

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [18]:
from sklearn.preprocessing import StandardScaler
f=StandardScaler()
kt=f.fit_transform(x)

In [19]:
kt

array([[ 2.06049883,  0.60394846,  2.19418408,  0.77551498],
       [ 1.9992401 , -0.40298282,  1.95699002, -1.21298497],
       [ 1.7953889 , -0.71408497,  1.65108109, -0.21873499],
       [ 1.59347666, -0.06796482,  1.4406864 ,  0.77551498],
       [ 1.54304769, -1.07366537,  1.29581937, -0.21873499],
       [ 1.06767781, -0.76314739,  1.26768959,  1.76976496],
       [ 1.37625029,  0.98370512, -0.7324448 , -1.21298497],
       [ 1.2801303 ,  0.92218319,  0.93608674, -0.21873499],
       [ 1.06293376,  1.039744  ,  0.83177461,  0.77551498],
       [ 1.12510219,  0.41788268,  0.77536577, -1.21298497],
       [ 0.64817242, -0.36575674,  0.13043678, -0.21873499],
       [ 0.62054043, -1.05896184,  0.30552044, -1.21298497],
       [ 0.46896409,  0.25086971,  0.30632758, -0.21873499],
       [ 0.42730058,  0.55223577,  0.33036113, -1.21298497],
       [ 1.04959154,  1.3283464 ,  0.36309205, -0.21873499],
       [ 0.38416954,  0.07747019,  0.40786165,  1.76976496],
       [ 0.11606928,  0.0398933 ,  0.42972057, -1.21298497],
       [ 0.48662838,  0.90550217,  0.58476967,  0.77551498],
       [ 0.42188537, -0.23371543,  0.52781939, -0.21873499],
       [ 0.30323156,  1.21652116, -1.81880132,  0.77551498],
       [ 0.07690176, -0.24508815,  0.72163223, -1.21298497],
       [ 0.12444847,  1.22608119,  0.73075761,  0.77551498],
       [ 0.02660126,  0.08358659,  0.76122577, -0.21873499],
       [-0.24351325, -0.54430051,  0.77355493, -0.21873499],
       [ 0.09449347, -0.78281047, -0.62307502,  0.77551498],
       [-0.18111626,  0.7018403 , -0.64529425, -1.21298497],
       [ 0.05630801,  0.87078938, -0.67857431,  1.76976496],
       [-0.01540956,  0.27093095,  1.18537256,  0.77551498],
       [-0.15024066,  2.29047386, -0.81383528, -0.21873499],
       [-0.16017119,  1.19875003, -0.90748457,  0.77551498],
       [-0.34818212, -0.17968905, -1.04364096, -0.21873499],
       [-0.25967015,  1.18657917, -0.30527128,  0.77551498],
       [-0.2090762 ,  0.32088625, -1.42680118,  1.76976496],
       [-0.38529184, -0.64359988,  0.00687775, -0.21873499],
       [-0.58717693,  1.37061298, -0.02576088, -1.21298497],
       [-0.59635071, -1.30755384, -0.0706727 ,  0.77551498],
       [-0.98263269,  0.24113089, -0.10802092, -0.21873499],
       [-0.63963301, -2.55230002, -0.14287332,  1.76976496],
       [-1.17040901, -2.01167156, -0.24294037,  0.77551498],
       [-0.76233838, -0.71361508, -0.15342896, -1.21298497],
       [-0.98061626, -0.54462839, -0.58169443, -1.21298497],
       [-0.99979449, -1.31996543, -0.419817  , -0.21873499],
       [-1.09445976, -0.89678867, -0.55990707, -1.21298497],
       [-1.27557988,  0.25315244, -1.51654844,  1.76976496],
       [-1.12703587,  1.26415281, -1.5777868 , -1.21298497],
       [-1.59852682,  0.13410335, -1.80260653,  0.77551498],
       [-1.59150862, -0.17324012,  0.70844788, -0.21873499],
       [-1.6207957 , -0.49030435, -1.17281373, -1.21298497],
       [-1.60872763, -2.5353414 , -1.81880132,  0.77551498],
       [-1.6207957 , -0.13019604, -1.43456025, -1.21298497]])

In [20]:
from sklearn.linear_model import LinearRegression
jk=LinearRegression()
op=jk.fit(x_train,y_train)

In [21]:
y_predict=op.predict(x_test)
y_predict

array([103143.92659347, 133557.77288889, 135272.1115133 ,  73244.27060547,
       182518.08883042, 116416.73348676,  68868.03617389, 102159.68736231,
       115086.68769744, 171989.16863224,  97236.35292073,  90454.3239551 ,
       113477.0338064 ,  88796.20008377, 128539.16983633])

In [22]:
y_test

array([103282.38, 144259.4 , 146121.95,  77798.83, 191050.39, 105008.31,
        81229.06,  97483.56, 110352.25, 166187.94,  96778.92,  96479.51,
       105733.54,  96712.8 , 124266.9 ])

In [23]:
len(y_predict)

15

In [24]:
len(y_test)

15

In [25]:
from sklearn.metrics import r2_score
kl=r2_score(y_test,y_predict)
kl

0.9403200819426735